
#cabecera1{
    position: absolute;
    left: 0px;
}
#cabecera2{
    position: absolute;
    right: 0px;
    display: inline-table;
}
.iconcabecera{
    width: 30px;
}
#clickimg{
    padding-top: 0px;
}
.click{
    display: inline-table;
    padding: 0.5em;
    padding-top: 1em;
}
#google{
    position: absolute;
    top: 25%;
    right: 40%;
}
#buscador{
    position: absolute;
    top: 330px;
    right: 510px;
    border: thin solid;
    border-radius: 2em;
    padding: 0.5em;
}
#lupa{
    width: 20px;
}
#micro{
    width: 40px;
}
textarea{
    border: white;
    border-radius: 2em;
}
#busqueda{
    position: absolute;
    top: 400px;
    right: 630px;
    padding: 1em;
}
#boton1{
    display: inline-table;
    padding: 0.5em;
    background-color:lightgrey;
    border: lightgrey;
}
#boton2{
    display: inline-table;
    padding: 0.5em;
    background-color:lightgrey;
    border: lightgrey;
}
#boton1:hover{
    background-color: grey;
}
#boton2:hover{
    background-color: grey;
}
.firstbuttons{
    text-decoration: none;
    color: grey;
}

.firstbuttons:hover{
opacity: .6;
}